<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" th:href="@{/css/checkbox.css}">
</head>
<body>
<form method="post" oninput="fullName.value = name.value +' '+ surname.value" th:object="${emptyUser}">

    <!--              NAME              -->
    <input type="text" name="name" placeholder="Name" required><br>

    <!--              SURNAME              -->
    <input type="text" name="surname" placeholder="Surname" required><br>

    <!--              EMAIL              -->
    <p class="error-message" style="color: red"
       th:each="error: ${#fields.errors('email')}" th:text="${error}">
        Validation error</p>
    <input type="email" name="email" placeholder="Email" required><br>

    <!--              PASSWORD            -->
    <p class="error-message" style="color: red"
       th:each="error: ${#fields.errors('password')}"
       th:text="${error}">Validation error</p>
    <input type="text" name="password" placeholder="Password" required><br>

    <!--              STATUS              -->
    PERMISSIONS:
    <label class="switch">
        <input type="checkbox" name="status" value="1"/>
        <span class="slider"></span>
    </label><br>

    <!--             COUNTRY              -->
    <select name="country">
        <option th:each="country : ${countries}"
                th:value="${country}" th:text="${country}"></option>
    </select><br>

    <!--             FULL NAME (NAME+SURNAME)      -->
    <input type="hidden" name="fullName"><br>
    <input type="submit" name="Save"><br>
</form>
</body>
</html>